@model WebApplication1.Controllers.RoomViewModel

<div class="text-right">
    <h1>Add Room</h1>
</div>
<div class="text-left">
    <form asp-controller="Home" asp-action="AddRoom" method="post">
        <p>
            <label asp-for="RoomName"></label>
            <input asp-for="RoomName" />
        </p>
        <p>
            <button type="submit">Add Room</button>
        </p>
    </form>
    <p>@Model.Message</p>
</div>