@model WebApplication1.Controllers.UserViewModel

<div class="text-right">
    <h1>Add User</h1>
</div>
<div class="text-left">
    <form asp-controller="Home" asp-action="AddUser" method="post">
        <p>
            <label asp-for="UserName"></label>
            <input asp-for="UserName" />
        </p>
        <p>
            <label asp-for="UserSurname"></label>
            <input asp-for="UserSurname" />
        </p>
        <p>
            <button type="submit">Add User</button>
        </p>
    </form>
    <p>@Model.Message</p>
</div>