@model WebApplication1.Controllers.ReserveViewModel

        <div class="text-right">
            <h1>Edit Reserve</h1>
        </div>
<div class="text-left">
    <form asp-controller="Home" asp-action="EditReserve" method="post">
        <p>
            <label asp-for="SelectedUserId"></label>
            <select asp-for="SelectedUserId" asp-items="Model.Users"></select>
        </p>
        <p>
            <label asp-for="SelectedRoomId"></label>
            <select asp-for="SelectedRoomId" asp-items="Model.Rooms"></select>
        </p>
        <p>
            <label asp-for="StartTime"></label>
            <input asp-for="StartTime"/>
        </p>
        <p>
            <label asp-for="EndTime"></label>
            <input asp-for="EndTime" />
        </p>
        <p>
            <button type="submit">Edit Reserve</button>
        </p>
        <input asp-for="Id"/>
    </form>
</div>