@model ReserveWebApp.Models.DayPilotEventListModel

<div id="dp"></div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>

        const dp = new DayPilot.Calendar("dp", {

            viewType: "Week",
            startDate: "2022-05-20",
            headerDateFormat: "dddd",
            onEventClick: async args => {

                const colors = [
                    { name: "Green", id: "#6aa84f" },
                    { name: "Yellow", id: "#f1c232" },
                ];

                const form = [
                    { name: "Name", id: "text" },
                    { name: "Color", id: "barColor", options: colors },
                ];

                const modal = await DayPilot.Modal.form(form, args.e.data);

                if (modal.canceled) {
                    return;
                }

                dp.events.update(modal.result);

            },
            onBeforeEventRender: args => {
                args.data.barBackColor = "transparent";
                if (!args.data.barColor) {
                    args.data.barColor = "#333";
                }
            },
            onTimeRangeSelected: async args => {

                const form = [
                    { name: "Name", id: "text" }
                ];

                const data = {
                    text: "Event"
                };

                const modal = await DayPilot.Modal.form(form, data);

                dp.clearSelection();

                if (modal.canceled) {
                    return;
                }

                dp.events.add({
                    start: args.start,
                    end: args.end,
                    id: DayPilot.guid(),
                    text: modal.result.text,
                    barColor: "#6aa84f"
                });
            }
        });

        dp.init();

        dp.events.load("/api/Event");

        dp.update({ events });
    </script>
}